:root {
  --main-bg-color: #6a8514;
  --blood-red-light: #f85032;
  --blood-red-deep: #e73827;
  --lush-green-light: #a8e063;
  --lush-green-deep: #56ab2f;
  --orange-light: #ffb75e;
  --orange: #f79d00;
  --orange-deep: #ed8f03;
  --mild-yellow: #f0cb35;
}
